* {
	font-family: "Share Tech Mono", courier;
}

header {
	margin-top: 10px;
}

#title {
	padding: 0;
	font-family: "Press Start 2P";
}

#message {
	font-family: "Press Start 2P";
	text-align: center;
	margin: 0;
}

#result {
	font-size: 100px;
}

#image {
	position: absolute;
	margin-left: 550px;
}

aside {
	position: fixed;
	bottom: 10px;
	left: 60px;
}

article {
	background-color: black;
	padding: 10px;
	border-radius: 25px;
}

article button {
	padding: 20px;
	margin: 5px 0;
}

#video {
	display: none;
}
